# O NOME DO ARQUIVO DEVE SER `.gitignore` (ATENTE-SE AO PONTO NO INÍCIO)

# VSCode repo settings
.vscode
node_modules/

README2.md
test
.trybe
.codeclimate.yml
.editorconfig
.eslintrc
.stylelintrc.json
